body{
    font-family: 'Space Grotesk', sans-serif;
}


main{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}

p{
    background-color: antiquewhite;
    color: maroon;
    display: flex;
    width: 50%;
    height: 500px;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}